.technologies__item{
  color: #fff;
  font: 400 14px/1.21 'Inter';
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}