@keyframes link-hovered {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.register{
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.register__text{
  max-width: 217px;
  margin: 16px auto 0;
  font: 400 14px/1.21 'Inter';
  color: #8b8b8b;
}

.register__text_type_link{
  text-decoration: none;
  color: #4285F4;
  margin-left: 6px;
}

.register__text_type_link:hover{
  cursor: pointer;
  animation: link-hovered 0.2s linear forwards;
}

@media screen and (max-width:769px) {
  .register{
    padding-top: 230px;
  }
}

@media screen and (max-width:570px) {
  .register {
    padding-top: 56px;
    width: 100vw;
  }
  .register__text{
    font: 400 12px/1.21 'Inter';
    max-width: 188px;
  }
}

