.about{
  min-height: 498px;
  padding: 110px 70px 0;
}

.about__content{
  display: flex;
}

.about__description{
  margin: 26px 0 0;
  font: 400 14px/20px 'Inter';
  color: #fff;
  max-width: 550px;
}

.about__timing{
  min-height: 36px;
  background-color: #303030;
  display: flex;
  align-items: center;
  margin-top: 110px;
}

.about__timing-description{
  color: #8b8b8b;
  margin: 14px 0 0;
  width: 200px;
  font: 500 14px/17px 'Inter';
  text-align: center;
}

.about__timing-description_highlighted{
  width: 228px;
}

.about__timing-element{
  font: 400 14px/1.21 'Inter';
  color: #fff;
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

.about__timing-element_highlighted{
  color: #000;
  background-color: #3DDC84;
  width: 228px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__title{
  margin: 70px 0 0;
  font: 400 20px/1.21 'Inter';
  color: #fff;
}